<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- meadco.scriptx -->
    <!-- meadco.scriptx --><!-- This section requires the package MeadCoScriptXConfig (MeadCo.ScriptXConfigurationHandler) to be usable
         The section definition is here to allow web.config to work even when the package is not installed.
    --><sectionGroup name="meadco">
      <section name="scriptx" type="MeadCo.ScriptX.ScriptXConfigHandler,MeadCo.ScriptXConfigHandler" />
    <!--<section name="scriptx" type="MeadCo.ScriptX.ScriptXConfigurationHandler,MeadCo.ScriptXConfigurationHandler" />-->
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="SmartCodeConnectionString" connectionString="Data Source=SHAREPOINT\SQLEXPRESS;Initial Catalog=SmartCode;Persist Security Info=True;User ID=sqluser;Password=dakotAIS07" providerName="System.Data.SqlClient" />-->
    <!--<add name="SmartCodeConnectionString" connectionString="Data Source=MIKEM-THINKPAD\SQLEXPRESS;Initial Catalog=SmartCode3;Persist Security Info=True;User ID=sa;Password=dakotAIS07" providerName="System.Data.SqlClient" />-->
    <add name="SmartCodeConnectionString" connectionString="Data Source=STORES\SQLEXPRESS;Initial Catalog=SmartCode3;Persist Security Info=True;User ID=sa;Password=D@kota15" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="owin:AppStartup" value="SmartCode.Startup, SmartCode" />
    <add key="ZebraPrinterName" value="ZDesigner GK420t" />
    <add key="LabelZPL" value="^XA^MMT^PW408^LL0200^LS0^FT16,43^A0N,24,24^FH\^FD{DESCRIPTION}^FS^BY2,3,66^FT20,142^BCN,,N,N,A^FD{BARCODE}^FS^FT90,170^A0N,24,24^FH\^FD{BARCODE}^FS^PQ1,0,1,Y^XZ" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5.2">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <!-- meadco.scriptx -->
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add assembly="MeadCo.ScriptXClientServerControl" namespace="MeadCo.ScriptXClient" tagPrefix="MeadCoScriptX" />
      </controls>
    </pages>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <customErrors mode="On" defaultRedirect="ErrorPage.aspx?handler=customErrors%20section%20-%20Web.config">
      <error statusCode="404" redirect="ErrorPage.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config" />
    </customErrors>
  </system.web>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;bin\Debug;bin\Release" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <staticContent>
      <!-- meadco.scriptx -->
      <!-- <mimeMap fileExtension=".cab" mimeType="application/octet-stream" /> -->
      <!-- meadco.scriptx -->
      <!-- <mimeMap fileExtension=".mlf" mimeType="application/octet-stream" /> -->
    <!-- meadco.scriptx --><!-- It may be required to uncomment these to enable download of the cab installers and/or license file --><!-- <mimeMap fileExtension=".cab" mimeType="application/octet-stream" /> --><!-- <mimeMap fileExtension=".mlf" mimeType="application/octet-stream" /> --></staticContent>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <!-- meadco.scriptx --><meadco>
    <!-- meadco.scriptx configuration -->
    <scriptx>
      <!-- define the version supplied by this package --><clientinstaller filename="~/content/meadco.scriptx/installers/smsx.cab" version="7.6.0.10" installhelper="~/MeadCo.ScriptX/InstallFailed.aspx" />
      <!--<license guid="[YOUR_LICENSEGUID_HERE]" revision="[YOUR_REVISION_HERE]" filename="~/content/meadco.scriptx/installers/sxlic.mlf" />-->
    <clientinstaller filename="~/content/meadco.scriptx/installers/smsx_8.0.0.cab" manualfilename="~/content/meadco.scriptx/installers/ScriptX_8.0.0.msi" version="8.0.0.56" scope="machine" processor="x86" /></scriptx>
  </meadco>
</configuration>